*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
   width: 25px; 
   cursor: pointer;
   display: none;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover{
    color: red;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links{
    text-align: center;
}

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff575a;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff575a;
    font-size: 12px;
}

td img{
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff575a;
    width: 100%;
    max-width: 405px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition:  0.5s;
    }
    .cart-info p{
        display: none;
    }
}